body{
  font-weight: 300;
  line-height: 133.333333%
  color: #333;
  background-color: white;
  font-family: Neue Helvetica,Helvetica,Arial,sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
}

/*.ol{
background-image: url("/Users/sami/Desktop/DU/images/home-header.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
}

.cap h1 {
text-align: center;
color:#ffffff;
font-size: 120px;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
margin-bottom: 0px;
padding-bottom: 10px;
}
*/

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.disc2Col{
  display: inline;
}

.disciplines{
  display: grid;
  font-size: 24px;
  margin:auto;
  padding-top: 10px;
}

#left{
  width: 50%;
  float: left;
}

#right{
  width: 50%;
  float: right;
}

.disciplines button{
  border: 3px solid #fff;
}

.box div{
  padding-top: 10px;
  padding-bottom: 10px;
}

.disciplines button img{
  width: 42px;
  height: 42px;
}

.disciplines1{
  display: inline-block;
  width: 90%;
  position: relative;
  padding: 10px 0px;
  align-items: center;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 20px;
  background: none;
}

.box {
  position: relative;
  width: 90%;
  display: flex;
  align-items: left;
  vertical-align: middle;
  background: none;
  font-size: 18px;
  margin: 10px 20px;
  padding: 5px 0px;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition:0.5s;
}

.box:hover {
  border: 3px solid rgba(0,160,80,0);
  color: #3059BB;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.btn-1::before {
  border-bottom: 3px solid #3059BB;
  border-left: 3px solid #3059BB;
  -webkit-transform-origin: 0 100%;
}

.btn-1::after {
  border-top: 3px solid #3059BB;
  border-right: 3px solid #3059BB;
  -webkit-transform-origin: 100% 0%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

.ol{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  transition: all 2s ease;
}
.titletext{
  position: absolute;
  font-size: 36px;
  top: 20%;
  left: 35%;
  /*transform: translate(-50%, -50%);*/
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  color: #0033AB;
  transition: all 1s ease;

}
header{
  position: relative;
  margin-top: 0px;
}
/** Commented out by Brett due to incompatability with new Nav

header nav{
margin-top:0px;
font-family: 'Raleway', sans-serif;
font-size: 22px;
padding-top: 10px;
padding-bottom: 10px;
position: fixed;
text-align: center;
width: 100%;
z-index: 100;
transition: all 0.5s ease;
color:#000;

}
nav a{
font-family: 'Raleway', sans-serif;
text-decoration: none;
margin-right: 45px;
margin-left: 20px;
text-align: center;
color: #000;
display: inline-block;

}
.navcolor{
background-color: #fff;
box-shadow: 0 0 10px #000;
}**/

.titletext span{

}
.titletext:hover{

}
#change{
  color: #0033AB;
  font-size:60px;
  text-transform: capitalize;
}
#col{
  color:#000;
  font-size: 80px;
  text-transform: lowercase;
}

/*.ol h2{
margin-top: 600px;
padding-top: 10px;
text-align: center;
color:#000;
font-size: 26px;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
}*/

.statement{
  font-family: 'Raleway', sans-serif;

  display: grid;
  grid-template-columns: 60% 40%;
}

.statement .txt{
  text-align: center;
  font-family: 'Raleway', sans-serif;

  margin: 0px 10px 40px 80px;

}
.statement ul li{
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  transition: all .5s ease;
  /*font-size: 20px;*/
}

.statement ul li:hover{
  color:#0033AB;
}
.statement .txt h2{
  margin-top:0px;
  font-size: 40px;
}
.statement .txt p{
  padding-top: 0px;
  font-size: 30px;
  color:#808080;
}
.statement .img{
  display: none;
  text-align: center;
}

/*Brett Nav*/
.main_nav {
  position: fixed;
  background-color: white;
  top: 0px;
  width: 100%;
  height: 3em;
  z-index: 10;
}

.nav_menu {
  display: inline;
  position: fixed;
  right: 0;
}

.nav_link {
  display: inline;
  right: 5px;
}

.nav_link a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .5px;
  color: #0033ab;
  text-decoration: none;
  margin: 30px;
}

.nav_logo {
  transition: .5s;
}

.hidden {
  opacity: 0;
}

/*Brett Footer*/
.footer {
  background: #000;
  padding: 70px 0 85px;
  width: 100%;

}

.fa {
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  width: 100%;
}

.row {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  margin left: 10px;
  margin right: 10px;
}

.social_icons {
  display: flex;
  margin: 0 0 40px;
  flex-basis: 50%;
  max-width: 50%;
  text-align: right;
}
.social_icons li {
  display: inline;
  margin-left: 1em;
  right: 0;
}

.footer_link {
  color: #fff;
  font-size: 12px;
}

.footer_img {
  width: 50%;
  margin-bottom: 40px;
  transition: .25s;
}

.footer_img:hover {
  opacity: .5;
}
.bk{
  /*background: url(../images/bk-1.jpg) no-repeat top left;
  background-size: cover;
  background-position: 50% bottom;
  opacity: 0.5;*/
}
#getStarted{
  /*background: url(../images/bk-1.jpg) no-repeat top left;
  background-size: cover;
  background-position: 50% bottom;
  opacity: 0.5;*/
  background-color:#262C43;
  margin: 0 0 0 0;
  margin-bottom: 0px;

}

#get-2{
  /*background: url(../images/bk-1.jpg) no-repeat top left;
  background-size: cover;
  background-position: 50% bottom;
  opacity: 0.5;*/
  background-color:#F4F4F4;
  margin: 0 0 0 0;
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
}


#getStarted h1 {
  font-size: 40px;
  color:#FFF;
  padding-top: 33px;
  margin-left: 15px;
  font-family: Neue Helvetica,Helvetica,Arial,sans-serif;

}
  #get-2 h1{
  font-size: 40px;
  color:#000;
  margin-top: 0;
  padding-top: 33px;
  margin-left: 15px;
  /*font-family: Neue Helvetica,Helvetica,Arial,sans-serif;*/
  }

  #getStarted h2{
    margin-top: 0px;
    color:#E12C4E ;
    margin-left: 15px;
  }
  #getStarted p{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 24px;
    color: #EDF1F9;
    font-family: Neue Helvetica,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  #get-2 p{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 24px;
    color: #000;
    text-align: center;
  }

  #cyber{
  background-color: #666666;
  font-family: 'Raleway', sans-serif;
      padding: 20px 20px 20px 20px;
        color: #fff;

  }
  #cyber h1{
  color: #fff;
  margin-top: 0;
  font-size: 40px;
  }
  #cyber h4{
    padding-left: 20px;
  }
  .sec{
    display: grid;
    grid-template-columns: 40% 60%;

}
  .sec p{
      margin-left: 20px;
      color:#fff;
  }

  .df_info{
    display: grid;
    grid-template-columns: 34% 33% 33%;
    padding-bottom: 80px;
  }
  .df_for{
    margin-left: 80px;
  }
  .df_info p{
    margin-left: 0px;
    margin-right: 0px;
  }

  .df_info h3{
    margin-top: 5px;
    margin-bottom: 8px;
    color:#FFB81C;
  }

  #frmt{
    color: #fff;
    font-weight:normal;
    font-size: 18px;
  }

  .int_info{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
margin-right: 80px;
margin-left: 80px;
margin-top: 30px;
text-align: center;
font-size: 18px;
  }

  .pic_info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
margin-right: 100px;
margin-left: 100px;
  margin-top: 40px;
  text-align: center;
  }

.pic_info img {
  width: 80px;
}

.pic_info h4{
font-size: 14px;
}

#get-2 h3{
text-align: center;
border: solid 1px black;
margin-left: 500px;
margin-right: 500px;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}
#get-2 h3:hover{
  opacity: 0.6;
}
/*.pic_info img:hover{
  opacity: 0.5;
}*/


/*Disciplines Section*/
.discipline {
  background-color: white;
  color: black;
  position: relative;
  padding-left: 100px;
}

.discipline:nth-of-type(even) {
    background: #E5E5E5;
}



.discipline_info {
  border-top: 5px solid black;
  padding-top: 20px;
  margin: 10px;
  position: relative;
}

.mask {
        position: absolute;
        top:-5px;
        right:0px;
        width: 50%;
        height: 10px;
        background-color:#FFF;
}


.mask:nth-of-type(odd) {
  background-color: #E5E5E5;
}
.courses {
  position: relative;
}

.course-buttons {
  position: absolute;
  top: 50%;
  right: 20%;
}

.course-buttons button {
  margin: 10px;
}

.discopline_info h2:before {
    background: #000;
    content: "";
    display: block;
    height: 4px;
    margin-bottom: 30px;
    width: 120px;
}

/* Brett Buttons */
.solid-button, .outlined-button {
  font-family: font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 6px;
  width: auto;
  height: 52px;
  padding: 0 40px;
}

.solid-button {
  color: #FFFFFF;
  background-color: #0033AB;
  border: none;
}

.solid-button:hover {
  box-shadow: 0 4px 0 rgba(0,51,171,0.2);
  background-color: #002B91;
}

.outlined-button {
  background-color: rgba(0, 0, 0, 0);
  border-color: #0033AB;
  color: #0033AB;
}

.outlined-button:hover {
  box-shadow: 0 4px 0 rgba(0,51,171,0.2);
}
  /*Media Queries */

  @media only screen and (min-width: 1000px) {
    .discipline {
      display: grid;
      grid-template-columns:3fr 4fr;
    }


    .discipline_info {
      grid-column: 1;
    }
    .courses {
      grid-column: 2;
    }
  }



  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  /*@media (max-width: 767px) {
  .fullscreen-bg {
  background: url('../img/videoframe.jpg') center center / cover no-repeat;
}

.fullscreen-bg__video {
display: none;
}
}*/
