/*.ol{
  background-image: url("/Users/sami/Desktop/DU/images/home-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.cap h1 {
  text-align: center;
  color:#ffffff;
  font-size: 120px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
*/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
body{
  font-weight: 300;
  line-height: 133.333333%
  color: #333;
  background-color: white;
  font-family: Neue Helvetica,Helvetica,Arial,sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
}
.ol{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  transition: all 2s ease;
}
.titletext{
  position: absolute;
  font-size: 40px;
  top: 20%;
  left: 35%;
  /*transform: translate(-50%, -50%);*/
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  color: #0033AB;
  transition: all 1s ease;

}
header{
  position: relative;
  margin-top: 0px;
}
/** Commented out by Brett due to incompatability with new Nav

header nav{
  margin-top:0px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease;
  color:#000;

}
nav a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin-right: 45px;
  margin-left: 20px;
  text-align: center;
  color: #000;
  display: inline-block;

}
.navcolor{
background-color: #fff;
box-shadow: 0 0 10px #000;
}**/

.titletext span{

}
.titletext:hover{

}
 #change{
  color: #0033AB;
  font-size:60px;
  text-transform: capitalize;
}
#col{
  color:#000;
  font-size: 80px;
    text-transform: lowercase;
}

/*.ol h2{
  margin-top: 600px;
  padding-top: 10px;
text-align: center;
  color:#000;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}*/

.statement{

  display: grid;
  grid-template-columns: 10% 45% 45%;
}

.statement .txt{
text-align: center;
margin: 0px 10px 40px 80px;

}
.statement ul li{
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  transition: all .5s ease;
  /*font-size: 20px;*/
}

.statement ul li:hover{
  color:#0033AB;
}
.statement .txt h2{

  font-size: 40px;
}
.statement .txt p{
padding-top: 0px;
font-size: 30px;
color:#808080;
}
.statement .img{
  display: none;
  text-align: center;
}

/*Brett Nav*/
.main_nav {
    position: fixed;
    background-color: white;
    top: 0px;
    width: 100%;
    height: 3em;
    z-index: 10;
}

.nav_menu {
  display: inline;
  position: fixed;
  right: 0;
}

.nav_link {
  display: inline;
  right: 5px;
}

.nav_link a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .5px;
  color: #0033ab;
  text-decoration: none;
  margin: 30px;
}

.nav_logo {
  transition: .5s;
}

.hidden {
  opacity: 0;
}

/*Brett Footer*/
.footer {
  background: #000;
  padding: 70px 0 85px;
  width: 100%;

}

.fa {
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  width: 100%;
}

.row {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin left: 10px;
  margin right: 10px;
}

.social_icons {
  display: flex;
  margin: 0 0 40px;
  flex-basis: 50%;
  max-width: 50%;
}
.social_icons li {
  display: inline;
  margin-left: 1em;
  right: 0;
}

.footer_link {
  color: #fff;
  font-size: 12px;
}

.footer_img {
  width: 50%;
  margin-bottom: 40px;
  transition: .25s;
}

.footer_img:hover {
  opacity: .5;
}


/*Media Queries */

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
/*@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}*/
