/*.ol{
background-image: url("/Users/sami/Desktop/DU/images/home-header.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
}

.cap h1 {
text-align: center;
color:#ffffff;
font-size: 120px;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
margin-bottom: 0px;
padding-bottom: 10px;
}
*/
.grid-wrapper{
  /*display: grid;*/
  /*grid-template-columns: repeat(4, 2fr);*/
  /*margin-top: 50px;*/
}
.land-main{
  /*background-color: #E8519C;*/
  /*margin-top: 5%;*/
  grid-column: span 4/5;
  height: 70%;
  /*margin-top: 20px;*/

}
.land-main img{
  width: 100vw;
  opacity: 0.7;
}

.main-panel{
  position: absolute;
  top:25%;
  background-color:#0033AB;
  color:#fff;
  font-family: Helvetica, sans-serif;
  width: 50%;
  padding: 0 20px 40px;
}
#mheading{
  text-align: left;
  font-size: 1.8rem;
}
.titletext{

  font-size: .7rem;
  /*top: 20%;
  left: 35%;*/
  /*transform: translate(-50%, -50%);*/
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  transition: all 1s ease;

}
.main-btn{
  margin-top: 60px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-columns: repeat(4,1fr);
  /*-ms-grid-rows: 50px 5em auto;*/
  /*text-align: center;*/
  position: absolute;
  color: #666666;
  z-index: 2;
}

.main-btn1{
  /*margin-top: 10%;*/
  /*maring-top:90%;*/
  /*top:70%;*/
  /*background-color: #EDF1F9;*/
  /*grid-row: 2/3;
  grid-column: 0;*/
  padding: 20px 60px 0px;
  -ms-grid-column: 1;

}

.main-btn img{
  width: 70px;
}
.main-btn2{
  /*background-color: #fff;*/
  /*grid-column: span 1;
  grid-row: 2/3;*/
  padding: 20px 60px 0px;
  -ms-grid-column: 2;

}
.main-btn3{
  /*background-color: #EDF1F9;*/
  /*grid-row: 2/3;
  grid-column: span 1;*/
  padding: 20px 60px 0px;
  -ms-grid-column: 3;

}
.main-btn4{
  /*background-color: #fff;*/
  padding: 20px 60px 0px;
  -ms-grid-column: 4;


  /*grid-row: 2/3;
  grid-column: span 1;*/
}

#btn-font{
  margin-top:3px;
  margin-bottom: 5px;

}
.main-btn p{
  margin-right:25px;
  margin-top:3px;

}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
body{
  font-weight: 300;
  line-height: 133.333333%
  color: #333;
  background-color: white;
  font-family: Neue Helvetica,Helvetica,Arial,sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  padding-right: 0px;
  margin-right: 0;
  margin: 0 0 0 0;

}
.ol{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: all 2s ease;
  position: relative;
}

header{
  position: relative;
  margin-top: 0px;
}
/** Commented out by Brett due to incompatability with new Nav

header nav{
margin-top:0px;
font-family: 'Raleway', sans-serif;
font-size: 22px;
padding-top: 10px;
padding-bottom: 10px;
position: fixed;
text-align: center;
width: 100%;
z-index: 100;
transition: all 0.5s ease;
color:#000;

}
nav a{
font-family: 'Raleway', sans-serif;
text-decoration: none;
margin-right: 45px;
margin-left: 20px;
text-align: center;
color: #000;
display: inline-block;

}
.navcolor{
background-color: #fff;
box-shadow: 0 0 10px #000;
}**/



.titletext span{

}
.titletext:hover{

}
#change{
  color: #FF7A3D;
  font-size:1.5rem;
  text-transform: capitalize;
}
#col{
  color:#fff;
  font-size: 1.5rem;
  /*text-transform: lowercase;*/
}
#lw {
  font-weight: 200;
}


/*.ol h2{
margin-top: 600px;
padding-top: 10px;
text-align: center;
color:#000;
font-size: 26px;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
}*/

.statement{
  font-family: 'Raleway', sans-serif;

  display: grid;
  grid-template-columns: 60% 40%;
}

.statement .txt{
  text-align: center;
  font-family: 'Raleway', sans-serif;

  margin: 0px 10px 40px 80px;

}
.statement ul li{
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  transition: all .5s ease;
  /*font-size: 20px;*/
}

.statement ul li:hover{
  color:#0033AB;
}
.statement .txt h2{
  margin-top:0px;
  font-size: 40px;
}
.statement .txt p{
  padding-top: 0px;
  font-size: 30px;
  color:#808080;
}
.statement .img{
  display: none;
  text-align: center;
}

/*Disciplines Button and Gear*/
.disc2Col{
  display: inline;
}

.discButtons{
  display: grid;
  display: -ms-grid;
  font-size: 24px;
  margin:auto;
  padding-top: 10px;
}

#left{
  width: 50%;
  float: left;
}

#right{
  width: 50%;
  float: right;
}

.discButtons button{
  border: 3px solid #fff;
}

.box div{
  padding-top: 10px;
  padding-bottom: 10px;
}

.discButtons button img{
  width: 42px;
  height: 42px;
}

.discButtons1{
  display: inline-block;
  width: 90%;
  position: relative;
  padding: 10px 0px;
  align-items: center;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 20px;
  background: none;
}

.box {
  position: relative;
  width: 90%;
  display: flex;
  align-items: left;
  vertical-align: middle;
  background: none;
  font-size: 18px;
  margin: 10px 20px;
  padding: 5px 0px;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition:0.5s;
}

.box:hover {
  border: 3px solid rgba(0,160,80,0);
  color: #3059BB;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.btn-1::before {
  border-bottom: 3px solid #3059BB;
  border-left: 3px solid #3059BB;
  -webkit-transform-origin: 0 100%;
}

.btn-1::after {
  border-top: 3px solid #3059BB;
  border-right: 3px solid #3059BB;
  -webkit-transform-origin: 100% 0%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

.gear{
  position: absolute;
  top: 20%;
  left: 15%;
  margin-top: 5%;
  height: 100%;
}

/*Brett Nav*/
.main_nav {
  position: fixed;
  background-color: white;
  top: 0px;
  /*min-width: 1000px;*/
  width: 100vw;
  height: 3.6em;
  z-index: 200;
  opacity: 0.8;
  transition: 1s;
}

.nav_menu {
  display: inline;
  position: fixed;
  right: 0;
}

.nav_link {
  display: inline;
  /*right: 5px;*/
}

.nav_link a {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .5px;
  color: #0033ab;
  text-decoration: none;
  margin: 15px;
}

.nav_logo {
  /*display: none;*/
  padding:10px 10px;
}
.nav_logo img{
  /*display: none;*/
}


/*Brett Footer*/
.footer {
  background: #000;
  padding: 70px 0 85px;
  width: 100%;

}

.fa {
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  /*padding: 0 20px;*/
  width: 100%;
}

.row {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  margin: 0 10px;
  padding: 0 20px;
  position: relative;
}

.social_icons {
  display: flex;
  margin: 0 0 40px;
  flex-basis: 50%;
  max-width: 50%;
  text-align: right;
  position: relative;
}

.social_icons ul {
    position: absolute;
    right: 0;
}
.social_icons li {
  display: inline;
  margin-left: 1em;
  right: 0;
}

.footer_link {
  color: #fff;
  font-size: 12px;
}

.footer_img {
  width: 50%;
  margin-bottom: 40px;
  transition: .25s;
}

.footer_img:hover {
  opacity: .5;
}
#pdm{
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1.25fr 1.75fr;
  margin-bottom: 30px;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: 1.25fr 1.75fr;
  padding-top:8%;

}

.df-btns{
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

.df-btns div:nth-of-type(1){
  -ms-grid-column:1;
}
.df-btns div:nth-of-type(2){
  -ms-grid-column:2;
}
.df-btns div:nth-of-type(3){
  -ms-grid-column:3;
}
.df-btns svg {
  /*margin-left: 0px;
  margin-bottom: 0px;*/
}

.df-btns h5{
  margin-bottom: 25px;
  margin-top: 3px;
}

.df-btns h6{
  text-align: center;
  font-size: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;
  font-weight: 100;
}

.df-icons{
  margin-top: 3px;
  font-size: 1.5rem;
  text-align: center;
  color:#fff;
  display: inline;
}
.bk{
  /*background: url(../images/bk-1.jpg) no-repeat top left;
  background-size: cover;
  background-position: 50% bottom;
  opacity: 0.5;*/
}
#getStarted{
  /*background: url(../images/bk-1.jpg) no-repeat top left;
  background-size: cover;
  background-position: 50% bottom;
  opacity: 0.5;*/
  background-color:#262C43;
  margin: 0 0 0 0;
  margin-bottom: 0px;

}

.foundations{
  /*background: url(../images/bk-1.jpg) no-repeat top left;
  background-size: cover;
  background-position: 50% bottom;
  opacity: 0.5;*/
  background-color:#F4F4F4;
  margin: 0 0 0 0;
  margin-bottom: 0px;
  font-family: Helvetica, sans-serif;
  padding-bottom: 30px;
}

.foundations .row {
  width: 50%;
  padding: 0;
  margin-left: 15px;
}

.foundations .row p {
  margin: 0;
}


#getStarted h1 {
  font-size: 40px;
  color:#FFF;
  padding-top: 33px;
  margin-left: 15px;
  font-family: Neue Helvetica,Helvetica,Arial,sans-serif;

}

.get-started-grid {
  padding: 0 50px;
}
.foundations h1, .get-started h1{
  font-size: 35px;
  color:#000;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 33px;
  margin-left: 15px;
  font-family: Helvetica, sans-serif;
}
.pdm-desc {
  margin-left: 15px;
  padding-right: 20px;
  -ms-grid-column:1;
  -ms-grid-row:1;


}
.pdm-yammer{
  text-align: center;
  padding-top:70px;
  -ms-grid-column:2;
  -ms-grid-row:1;
  /*display: inline-block;*/
}
.pdm-yammer img{
  height: 80px;
  width: auto;
 }

.pdm-primer, .pdm-bootcamp{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  background-color:#E5E5E5 ;
}
.pdm-primer{
  -ms-grid-column:1;
  -ms-grid-row:2;
}
.pdm-bootcamp{
  -ms-grid-column:2;
  -ms-grid-row:2;
}
.pdm-bootcamp ul{
  margin-left: 90px;
  font-size: 14px;
}
.pdm-primer h1, .pdm-bootcamp h1 {
  text-align: center;
}
.pdm-primer h4, .pdm-bootcamp h4{
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#ans{
  font-weight: 100;
}
.pdm-bootcamp p {
  display: inline;
}
.pdm-desc h1{
  font-size: 35px;
  color:#000;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 33px;
  font-family: Helvetica, sans-serif;
}
.horizon{
  background-image: url("../images/footer-1600.jpg");
  height: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  /*text-align: center;*/
  padding-right: 30px;
  padding-left: 30px;
  -ms-grid-columns: 1fr 1fr;
  -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       margin-top: 75px;
}
.horizon .jrn-panel{
  background-color:#0033AB;
  margin: 75px 0px;;
  color: #fff;
  /*opacity: 0.9;*/
  text-align: left;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 20px;
  margin-right:  40px;
  -ms-grid-column: 1;

}

.horizon .bkl-panel{
  background-color: #fff;
  margin: 75px 0px;
  opacity: 0.9;
  color: #0033AB;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 40px;
  -ms-grid-column: 2;



}
.horizon ul{
  font-size:1.5rem;
}

#getStarted h2{
  margin-top: 0px;
  color:#E12C4E ;
  margin-left: 15px;
}
#getStarted p{
  margin-left: 80px;
  margin-right: 80px;
  font-size: 24px;
  color: #EDF1F9;
  font-family: Neue Helvetica,Helvetica,Arial,sans-serif;
  font-weight: lighter;
  text-align: center;
}
.foundations p{
  margin-left: 15px;
  margin-right: 300px;
  font-size: 20px;
  color: #000;
}

#cyber{
  background-color: #666666;
  font-family: 'Raleway', sans-serif;
  padding: 20px 20px 20px 20px;
  color: #fff;

}
#cyber h1{
  color: #fff;
  margin-top: 0;
  font-size: 40px;
}
#cyber h4{
  padding-left: 20px;
}
.sec{
  display: grid;
  display: -ms-grid;
  grid-template-columns: 40% 60%;
  -ms-grid-columns: 2fr 3fr;

}
.sec p{
  margin-left: 20px;
  color:#fff;
}

.df_info{
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 34% 33% 33%;
  padding-bottom: 80px;
}
.df_for{
  margin-left: 80px;
}
.df_info p{
  margin-left: 0px;
  margin-right: 0px;
}

.df_info h3{
  margin-top: 5px;
  margin-bottom: 8px;
  color:#FFB81C;
}

#frmt{
  color: #fff;
  font-weight:normal;
  font-size: 18px;
}

.int_info{
  display: grid;
  display: -ms-grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

.pic_info{
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 0px;
  /*text-align: center;*/
  text-align: left;
  /*grid-gap: 20px;*/
  /*border:2px solid black;*/
  padding-left: 3%;
}
.pic_info a {
  color:inherit;
  text-decoration: none;
}
.pic_info img {
  width: 80px;
  /*text-align: left;*/
  margin-left:30px;

  float: left;
}

.pic_info h5{
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  /*float:right;*/
  font-size: 12px;

}

.pic_info h4 {
  text-align: left;
  padding-left: 15px;
}

.pic_info div img {
  padding-left: 20px;
  margin: 0;
}
.pic_info div:first-child {
  /*border-right: 1px solid black;
  border-bottom: 1px solid black;*/
  grid-row: 1;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;

}
.pic_info div  {
  padding-bottom: 40px;
  margin: 0;
}
.pic_info div:nth-of-type(2) {
  /*border-right: 1px solid black;
  border-bottom: 1px solid black;*/
  grid-row: 1;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.pic_info div:nth-of-type(3) {
  /*border-bottom: 1px solid black;*/
  grid-row: 1;
  grid-column: 4;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.pic_info div:nth-of-type(4) {
  /*border-right: 1px solid black;*/
  grid-row: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.pic_info div:nth-of-type(5) {
  /*border-right: 1px solid black;*/
  grid-row: 2;
  grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.pic_info div:nth-of-type(6) {
  /*border-right: 1px solid black;*/
  grid-row: 2;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.pic_info h4{
  font-size: 18px;
  /*text-align: center;*/
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.aside {
  padding-top: 22px;
}

.aside h6 {
  font-weight: 100;
}

.aside h1, .aside h6 {
  margin: 20px;
  padding: 0;
}

.aside-panel{
  position: absolute;
  top:40%;
  background-color:#0033AB;
  color:#fff;
  font-family: Helvetica, sans-serif;
  width: 25%;
  padding: 40px 20px 50px 20px;
  margin: auto;
  height: 60%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  transition: all 1s ease;
}

.aside-panel svg {
  transform: translateY(25%);
}
/*.aside-panel svg:hover {
  transform: translateY(-25%);
}*/

.aside-panel h6 {
  margin-top: 10px;
}

.foundations h3{
  text-align: center;
  border: solid 1px black;
  margin-left: 500px;
  margin-right: 500px;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}
.foundations h3:hover{
  opacity: 0.6;
}
/*.pic_info img:hover{
opacity: 0.5;
}*/

.foundations {
  /*height: 100vh;*/
  width: 100vw;
  position: relative;
}
/*Disciplines Section*/
.discipline {
  background-color: white;
  color: black;
  position: relative;
  padding-left: 100px;
  /*height: 100vh;
  width: 100vw;*/
}

.discipline:nth-of-type(even) {
  background: #E5E5E5;
}



.discipline_info {
  position: relative;
}

.mask {
  position: absolute;
  top:-5px;
  right:0px;
  width: 50%;
  height: 10px;
  background-color:#FFF;
}


.mask:nth-of-type(odd) {
  background-color: #E5E5E5;
}

.unclicked {
  position: absolute;
  top: 50%;
  right: 20%;
}

.foundational-button, .advanced-button {
  transition: 2s;
}

.foundational, .advanced {
  display: none;
}

.foundational-button button, .advanced-button button {
  margin: auto;
  top: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  transition: 2s;
  text-align: center;
}

.discipline_info h2:before {
  background: #000;
  content: "";
  display: block;
  height: 4px;
  margin-bottom: 30px;
  width: 120px;
}

.courses {
  padding: 40px;
}

.course-description {
  display: none;
  padding: 0 20px 20px 20px;
  position: relative;
  margin-bottom: 50px;
}

.course-description p {
  margin-bottom: 10px;
}

.course-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

/*.clicked {
grid-row: 1;
grid-column: 1/3;
}*/

.foundational-button {
  grid-row: 1;
  grid-column: 1;
  right: 25%;
}

.advanced-button {
  grid-row: 1;
  grid-column: 2;
}




.course-grid .foundational, .course-grid .advanced  {
  grid-row: 2;
  grid-column: 1/3;
}




.course-description button {
  margin: auto;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.course-list li {
  transition: 2s;
  margin: 10px;
}

.course-list li:hover {
  text-decoration: underline;
}
/*.clicked button {
margin: 50px 155px;
}*/

/* Brett Buttons */
.solid-button, .outlined-button {
  font-family: font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 6px;
  width: auto;
  height: 52px;
  padding: 0 20px;
}

.solid-button {
  color: #FFFFFF;
  background-color: #0033AB;
  border: none;
  /*margin-left: 80px;*/
}

.solid-button:hover {
  box-shadow: 0 4px 0 rgba(0,51,171,0.2);
  background-color: #002B91;
}

.outlined-button {
  background-color: rgba(0, 0, 0, 0);
  border-color: #0033AB;
  color: #0033AB;
  /*margin-left: 40px;*/
}

.outlined-button:hover {
  box-shadow: 0 4px 0 rgba(0,51,171,0.2);
}

#section07 a {
  padding-top: 80px;
  z-index: 100;
}
#section07 a span {
  position: absolute;
  z-index: 100;

  top: 82%;
  left: 49%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #002B91;
  border-bottom: 1px solid #002B91;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  z-index: 100;

}
#section07 a span:nth-of-type(2) {
  top: 85%;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
  z-index: 100;

}
#section07 a span:nth-of-type(3) {
  top: 88%;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  z-index: 100;

}

.screen-size {
  height: 100vh;
  width: 100vw;
}

.solid {
  opacity: 1;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*Media Queries */

@media only screen and (min-width: 1000px) {
  .discipline {
    display: grid;
    grid-template-columns:3fr 4fr;
  }

  .discipline_info {
    grid-column: 1;
  }
  .courses {
    grid-column: 2;
  }
}
@media only screen and (min-width: 1500px) {
.main-panel{
  width:40%;
  top:30%;
}
.main-btn{
  margin-top:100px;
}

}

@media only screen and (min-width: 2000px) {
.main-panel{
  width:40%;
  top:40%;
}
.main-btn{
  margin-top:200px;
}

}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
/*@media (max-width: 767px) {
.fullscreen-bg {
background: url('../img/videoframe.jpg') center center / cover no-repeat;
}

.fullscreen-bg__video {
display: none;
}
}*/
